package_list:
  - name: apt-transport-https
  - name: ca-certificates
  - name: curl
  - name: gnupg
  - name: lsb-release
    brew-ignore: true
  - name: software-properties-common
  - name: python3-pip
  - name: python3-setuptools
  - name: nfs-common
  - name: zsh
  - name: ufw
    brew-ignore: true
  - name: fail2ban
    brew-ignore: true
  - name: unattended-upgrades
    brew-ignore: true

is_local_vm: true

enable_monitoring_server: false
enable_db_server: false
enable_monitoring_target: false
enable_proxy: false
enable_portainer: false
enable_linkding: false
enable_rss: false
enable_mosquitto: false
enable_scrypted: false
enable_dashboard: false
enable_authentik: false
enable_productivity: false
enable_glowprom: false
enable_homebridge: false
enable_cloudflare_tunnel: false
enable_hoarder: false

ansible_port: 22
# User and group settings
main_username: "{{ ansible_user }}"
main_groupname: "{{ main_username }}"
main_uid: "1000"
main_gid: "{{ main_uid }}"

# Folder structure
app_folder_root: /opt/knxcloud

# Domain name settings
hostname_root: "knxcloud.io"
acme_provider: "cloudflare"

# versions
# renovate: datasource=docker depName=adminer
adminer_version: "4.17.1"
# renovate: datasource=docker depName=prom/alertmanager
alertmanager_version: "v0.28.0"
# renovate: datasource=github-tags depName=google/cadvisor
cadvisor_version: "v0.53.0"
# renovate: datasource=docker depName=grafana/grafana
grafana_version: "11.5.2"
# renovate: datasource=docker depName=grafana/loki
loki_version: "3.4.2"
# renovate: datasource=docker depName=prom/node-exporter
node_exporter_version: "v1.9.0"
# renovate: datasource=docker depName=ekofr/pihole-exporter
pihole_exporter_version: "v1.0.1"
# renovate: datasource=docker depName=portainer/portainer-ce
portainer_version: "2.27.1"
# renovate: datasource=docker depName=postgres
postgres_version: "15-alpine"
# renovate: datasource=docker depName=prom/prometheus
prometheus_version: "v3.2.1"
# renovate: datasource=docker depName=grafana/promtail
promtail_version: "3.4.2"
# renovate: datasource=docker depName=prompve/prometheus-pve-exporter
proxmox_exporter_version: "3.5.2"
# renovate: datasource=docker depName=prom/pushgateway
pushgateway_version: "v1.11.0"
# renovate: datasource=docker depName=traefik
traefik_version: "v3.1"
# renovate: datasource=docker depName=sissbruecker/linkding
linkding_version: "1.39.1"
# renovate: datasource=docker depName=eclipse-mosquitto
mosquitto_version: "2.0.21"
# renovate: datasource=docker depName=koush/scrypted
scrypted_version: "v0.126.0-noble-full"
# renovate: datasource=github-releases depName=gethomepage/homepage
homepage_version: "v0.10.9"
# renovate: datasource=github-tags depName=goauthentik/authentik
authentik_version: "2024.12.2"
# renovate: datasource=github-releases depName=andrewjw/glowprom
glowprom_version: "0.9.0"
# renovate: datasource=docker depName=frooodle/s-pdf
stirlingpdf_version: "0.46.2"
# renovate: datasource=docker depName=wallabag/wallabag
wallabag_version: "2.6.10"
# renovate: datasource=docker depName=linuxserver/freshrss
freshrss_version: "1.26.3"
# renovate: datasource=docker depName=hkotel/mealie
mealie_version: "v2.7.1"
# renovate: datasource=docker depName=homebridge/homebridge
homebridge_version: "2025-01-11"

# Database settings
postgres_user: dinos
postgres_db: core

# Monitoring settings
grafana_user: dinos
pihole_main_host: 192.168.1.202
pihole_backup_host: 192.168.3.254

mqtt_server: 192.168.42.122
mqtt_port: 1883

nfs_server: 192.168.1.217
nfs_path: /volume1/media

default_timezone: "Europe/London"

services:
  - name: traefik
    version: latest

cloudflare_proxied: false

# K3s cluster settings
k3s_version: v1.33.3+k3s1
systemd_dir: /etc/systemd/system

# Set your timezone
system_timezone: Europe/London

# interface which will be used for flannel
flannel_iface: eth0

# uncomment calico_iface to use tigera operator/calico cni instead of flannel https://docs.tigera.io/calico/latest/about
# calico_iface: "eth0"
calico_ebpf: false # use eBPF dataplane instead of iptables
calico_tag: v3.28.0 # calico version tag

# uncomment cilium_iface to use cilium cni instead of flannel or calico
# ensure v4.19.57, v5.1.16, v5.2.0 or more recent kernel
# cilium_iface: "eth0"
cilium_mode: native # native when nodes on same subnet or using bgp, else set routed
cilium_tag: v1.16.0 # cilium version tag
cilium_hubble: true # enable hubble observability relay and ui

# if using calico or cilium, you may specify the cluster pod cidr pool
cluster_cidr: 10.52.0.0/16

# enable cilium bgp control plane for lb services and pod cidrs. disables metallb.
cilium_bgp: false

# bgp parameters for cilium cni. only active when cilium_iface is defined and cilium_bgp is true.
cilium_bgp_my_asn: "64513"
cilium_bgp_peer_asn: "64512"
cilium_bgp_peer_address: 192.168.30.1
cilium_bgp_lb_cidr: 192.168.31.0/24 # cidr for cilium loadbalancer ipam

# enable kube-vip ARP broadcasts
kube_vip_arp: true

# enable kube-vip BGP peering
kube_vip_bgp: false

# bgp parameters for kube-vip
kube_vip_bgp_routerid: "127.0.0.1" # Defines the router ID for the BGP server
kube_vip_bgp_as: "64513" # Defines the AS for the BGP server
kube_vip_bgp_peeraddress: "192.168.30.1" # Defines the address for the BGP peer
kube_vip_bgp_peeras: "64512" # Defines the AS for the BGP peer

# apiserver_endpoint is virtual ip-address which will be configured on each master
apiserver_endpoint: 192.168.42.19

# k3s_token is required  masters can talk together securely
# this token should be alpha numeric only
# Set in var/vault.yaml

# The IP on which the node is reachable in the cluster.
# Here, a sensible default is provided, you can still override
# it for each of your hosts, though.
k3s_node_ip: "{{ ansible_facts[(cilium_iface | default(calico_iface | default(flannel_iface)))]['ipv4']['address'] }}"

# Disable the taint manually by setting: k3s_master_taint = false
k3s_master_taint: "{{ true if groups['node'] | default([]) | length >= 1 else false }}"

# these arguments are recommended for servers as well as agents:
extra_args: >-
  {{ '--flannel-iface=' + flannel_iface if calico_iface is not defined and cilium_iface is not defined else '' }}
  --node-ip={{ k3s_node_ip }}

# change these to your liking, the only required are: --disable servicelb, --tls-san {{ apiserver_endpoint }}
# the contents of the if block is also required if using calico or cilium
extra_server_args: >-
  {{ extra_args }}
  {{ '--node-taint node-role.kubernetes.io/master=true:NoSchedule' if k3s_master_taint else '' }}
  {% if calico_iface is defined or cilium_iface is defined %}
  --flannel-backend=none
  --disable-network-policy
  --cluster-cidr={{ cluster_cidr | default('10.52.0.0/16') }}
  {% endif %}
  --tls-san {{ apiserver_endpoint }}
  --disable servicelb
  --disable traefik

extra_agent_args: >-
  {{ extra_args }}

# image tag for kube-vip
kube_vip_tag_version: v0.8.2

metal_lb_type: native
metal_lb_mode: layer2
metal_lb_speaker_tag_version: v0.14.8
metal_lb_controller_tag_version: v0.14.8
metal_lb_ip_range: 192.168.42.10-192.168.42.20

custom_registries: false
custom_registries_yaml: |
  mirrors:
    docker.io:
      endpoint:
        - "https://registry.domain.com/v2/dockerhub"
    quay.io:
      endpoint:
        - "https://registry.domain.com/v2/quayio"
    ghcr.io:
      endpoint:
        - "https://registry.domain.com/v2/ghcrio"
    registry.domain.com:
      endpoint:
        - "https://registry.domain.com"

plex_host: "http://192.168.42.244:32400"
