services:
  prometheus:
    image: prom/prometheus:v3.2.1
    container_name: prometheus
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/config.yaml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=240h"
      - "--web.enable-lifecycle"
    restart: unless-stopped
    expose:
      - 9090
    env_file:
      - .env
    networks:
      - proxy
    labels:
      - "org.label-schema.group=monitoring"
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.${FULL_DOMAIN}`)"
      - "traefik.http.routers.prometheus.entrypoints=https"
      - "traefik.http.routers.prometheus.tls=true"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"

  alertmanager:
    image: prom/alertmanager:v0.28.0
    container_name: alertmanager
    volumes:
      - ./alertmanager:/etc/alertmanager
    command:
      - "--config.file=/etc/alertmanager/config.yaml"
      - "--storage.path=/alertmanager"
    restart: unless-stopped
    expose:
      - 9093
    networks:
      - proxy
    env_file:
      - .env
    labels:
      - "org.label-schema.group=monitoring"
      - "traefik.enable=true"
      - "traefik.http.routers.alertmanager.rule=Host(`alertmanager.${FULL_DOMAIN}`)"
      - "traefik.http.routers.alertmanager.entrypoints=https"
      - "traefik.http.routers.alertmanager.tls=true"
      - "traefik.http.services.alertmanager.loadbalancer.server.port=9093"

  loki:
    image: grafana/loki:3.4.2
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
      - ./loki:/etc/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - proxy
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.loki.rule=Host(`loki.${FULL_DOMAIN}`)"
      - "traefik.http.routers.loki.entrypoints=https"
      - "traefik.http.routers.loki.tls=true"
      - "traefik.http.services.loki.loadbalancer.server.port=3100"

  grafana:
    image: grafana/grafana:11.5.2
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
    expose:
      - 3000
    networks:
      - proxy
    env_file:
      - .env
    labels:
      - "org.label-schema.group=monitoring"
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.${FULL_DOMAIN}`)"
      - "traefik.http.routers.grafana.entrypoints=https"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"

  pushgateway:
    image: prom/pushgateway:v1.11.0
    container_name: pushgateway
    restart: unless-stopped
    expose:
      - 9091
    networks:
      - proxy
    env_file:
      - .env
    labels:
      - "org.label-schema.group=monitoring"
      - "traefik.enable=true"
      - "traefik.http.routers.pushgateway.rule=Host(`pushgateway.${FULL_DOMAIN}`)"
      - "traefik.http.routers.pushgateway.entrypoints=https"
      - "traefik.http.routers.pushgateway.tls=true"
      - "traefik.http.services.pushgateway.loadbalancer.server.port=9091"

  pihole-exporter:
    image: ekofr/pihole-exporter:v1.0.1
    container_name: pihole-exporter
    environment:
      - PIHOLE_PROTOCOL=http
      - PIHOLE_HOSTNAME=${PIHOLE_HOSTNAME}
      - PIHOLE_PASSWORD=${PIHOLE_PASSWORD}
      - PORT=9617
    restart: unless-stopped
    networks:
      - proxy
    expose:
      - 9617
    env_file:
      - .env

  proxmox-exporter:
    image: prompve/prometheus-pve-exporter:3.5.2
    container_name: proxmox-exporter
    volumes:
      - ./pve:/etc/pve_exporter
    command:
      - "--config.file=/etc/pve_exporter/pve.yml"
    restart: unless-stopped
    expose:
      - 9221
    networks:
      - proxy
    env_file:
      - .env

networks:
  proxy:
    external: true

volumes:
  prometheus_data:
    driver: local
    name: prometheus_data
  loki_data:
    driver: local
    name: loki_data
  grafana_data:
    driver: local
    name: grafana_data
