full_domain: "mon.{{ hostname_root }}"

services_configs:
  - name: traefik
    required_folders:
      - logs
    touch_files:
      - acme.json
  - name: monitoring-server
  - name: monitoring-client
