services:
  glowprom:
    container_name: glowprom
    image: andrewjw/glowprom:1.0.0
    command: --bind 0.0.0.0:9420
    networks:
      - proxy
    ports:
      - 9420:9420
    environment:
      - GLOWPROM_MQTT=${GLOWPROM_MQTT}
      - GLOWPROM_PORT=${GLOWPROM_PORT}
      - GLOWPROM_USER=${GLOWPROM_USER}
      - GLOWPROM_PASSWD=${GLOWPROM_PASSWD}
      - PGID=1000
      - PUID=1000
    env_file:
      - .env
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.glowprom.rule=Host(`glowprom.${FULL_DOMAIN}`)"
      - "traefik.http.routers.glowprom.entrypoints=https"
      - "traefik.http.routers.glowprom.tls=true"
      - "traefik.http.services.glowprom.loadbalancer.server.port=9420"

networks:
  proxy:
    external: true