global:
  scrape_interval:     15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: '{{ full_domain }}'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules"

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:
  - job_name: 'node-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['node-exporter:9100', 'node-exporter.ts.knxcloud.io']


  - job_name: plex
    static_configs:
      - targets: ["prometheus-plex-exporter:9000"]

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'pushgateway'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: ['pushgateway:9091']

  - job_name: 'pihole'
    scrape_interval: 5s
    static_configs:
      - targets: ['pihole-exporter:9617']

  - job_name: 'glowprom'
    scrape_interval: 5s
    fallback_scrape_protocol: PrometheusText0.0.4
    static_configs:
      - targets: ['glowprom:9420']

  - job_name: "hass"
    scrape_interval: 60s
    metrics_path: /api/prometheus

    # Long-Lived Access Token
    authorization:
      credentials: "{{ hass_token }}"

    static_configs:
      - targets: ['192.168.1.226:8123']

  - job_name: 'pve'
    static_configs:
      - targets:
        - pve1.knxcloud.io
        - pve2.knxcloud.io
    metrics_path: /pve
    params:
      module: [default]
      cluster: ['1']
      node: ['1']
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: proxmox-exporter:9221  # PVE exporter.

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - 'alertmanager:9093'